html,
body {
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	min-width: 940px;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
    color: #323232;
}

.site-wrapper {
	min-width: 940px;
	background-color: #849d8f;
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: top center;
	
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide3.png");
}


.navigation {
	display: flex;
	flex-direction: row;
    align-items: center;
	width: 1146px;
	min-height: 75px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0 27px;
	
}
.main-header-logo {
	width: 154px;
	height: 64px;
	
}
.nav-list {
	display: flex;
	position: relative;
	justify-content: space-between;
	width: 420px;
	padding: 20px 10px;
	margin: 0;
	padding-left: 24px;
	

}

.nav-catalog {
	position: relative;
}

.nav-button {
	width: 267px;
	float: right;
	margin-left: 293px;
	text-align: right;

}

.inner-page {
	width: 1200px;
	background-color: #849d8f;
	color: #ffffff;
}
	
.navigation {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	color: #ffffff;
}

.search,
.login-link {
	font-size: 14px;
	line-height: 16px;
}
.nav-list,
.catalog-list {
	list-style: none;
}

.nav-list >li {
	position: relative;
	display: inline-block;
}

.nav-list li {
	padding: 10px 15px;
	border-radius: 20px;
}
	
.catalog-list {
   display: none;
   position: absolute;
   top: 40px;
   left: -30px;
   width: 133px;
   margin: 0 ;
   padding: 0 5px;
   text-align: center;
   text-decoration: none;
   font-weight: normal;
   background-color: #f8f7f4;
   border: none;
   border-radius: 10px;
   z-index: 2;	
}

.catalog-list li {
	padding: 5px 0px;
	border: none;
}

.catalog-list li:first-child {
	font-weight: bold;
	border: none;
	border-bottom: 2px solid #d1d0ce;
}

.nav-list a {
	color: #ffffff;
}

.nav-list a:hover,
.nav-list a:focus {
color: #323232;
}

li.nav-catalog:hover {
	padding: 10px 15px;
	color: #323232;
	background-color: #f7f6f3;
	border-radius: 20px;	
}


 .nav-list > li:hover ul.catalog-list {
	display: block;
	z-index: 1;
	}

.catalog-list a {
	color: #323232;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
}

.catalog-list li:hover{
	color: #323232;
	background-color: #fbded7;

}

.catalog-list li:hover a {
    color: #323232;
}

.search-form {
	display: none;
	position:absolute;
	top: 65px;
	right: 220px;
	width: 310px;
	margin: 0;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	background-color: #ffffff;
	border-radius: 7px;
	z-index: 1;
	
}

.field-search {
	margin: 0;
	width: 310px;
	padding: 10px;
	font-size: 14px;
	line-height: 24px;
	color: #d3d3d2;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.login-form{ 
display: none;
position:absolute;
width: 240px;
top: 65px;
right: 125px;
margin: 0;
padding: 20px;
font-size: 18px;
line-height: 24px;
background-color: #ffffff;
z-index: 1;
border-radius: 7px;

}

.login-user {
	margin: 0;
	margin-bottom: 20px;
	padding: 5px 10px;
	width: 215px;
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #d3d3d2;
	
}

.password-user {
	margin: 0;
	margin-bottom: 20px;
	padding: 5px 10px;
	width: 215px;
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.login-form a {
	padding-left: 100px;
	font-size: 13px;
	font-weight: normal;
	color: #323232;
}

.login-form button {
	position: absolute;
	margin: 0;
	left: 25px;
	padding: 13px 25px;
	font-size: 18px;
	line-height: 24px;
	border: none;
	border-radius: 25px
}

.nav-button:hover form.login-form {
	display: block;
}
.main-basket{
	display: none;
}

.content-basket {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 10px;
	top: 75px;
	width: 515px;
	padding: 10px;
	margin: 0;
	font-size: 13px;
	line-height: 16px;
	color: #323232;
	background-color: #ffffff;
	z-index: 1;
	border-radius: 7px;
	
}

.basket-list{
	position: relative;
	margin: 0;
	padding: 0;
	width: 515px;
	
}


.basket-list li {
	width: auto;
	margin: 0;
	padding-left: 30px;
	padding-bottom: 20px;
	vertical-align: center;
	
}

.basket-list p {
	width: auto;
	font-weight: normal;
	
}

.basket-list span {
	display: inline-block;
	margin-right: 25px;
	
}

.nav-button li:nth-child(3):hover .main-basket{
	display: block;
}

.name-product {
	width: 225px;
	margin-left: 10px;
}

.basket-list .quantity {
	margin-right: 3px;
}

.basket-list .price {
	color: #b5b5b4;
}

.basket-list .button-delite-1 {
	position: absolute;
	left: 0;
	top: 20px;
	width: 11px;
	background-color: #ffffff;
	border: none;
}

.basket-list .button-delite-2 {
	position: absolute;
	left: 0;
	top: 85px;
	width: 11px;
	background-color: #ffffff;
	border: none;
}

.total-amount {
	position: relative;
	left: 400px;
	font-size: 15px;
	line-height: 18px;
}

.content-basket button {
	position: relative;
	left: 340px;
	width: 170px;
	
	font-size: 18px;
	line-height: 24px;
	border: none;
}


.button {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #ea5339;
	border-radius: 20px;
	padding: 10px;
}

.contacts .button {
	padding: 12 28;
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;
	
}

.button:hover{
	background-color: #ed715f;
}

.button:active{
	background-color: #db5238;
}

.button-image{
	border-radius: 15px;
	background-color: #a1b4a9;
	background-size: 20px 20px;
	padding: 5px;
	font-size: 14px;
	line-height: 16px;
}

.button-image-loupe{
	width: 35px;
	height: 35px;
	background-image: url("../img/loupe.svg");
    background-repeat: no-repeat;
	background-position: 5px 5px;
	
}

.button-image-loupe:hover{
	background-color: #f8f7f4;
	background-image: url("../img/loupe2.svg");
	background-repeat: no-repeat;
}

.button-image-loupe:hover .search-form {
	display: block;
}

.button-image-entry {
	width: 93px;
	height: 35px;
	background-image: url("../img/entry.svg");
    background-repeat: no-repeat;
	background-position: 16px 6px;
	text-align: center;
	padding-left: 35px;
	
}

.button-image-entry a {
text-decoration: none;	
}

.button-image-entry:hover{
	background-color: #f8f7f4;
	background-image: url("../img/entry2.svg");
	background-repeat: no-repeat;
}

.button-image-entry a:hover {
	color: #323232;
	text-decoration: none;
}

.button-image-basket {
	width: 93px;
	height: 35px;
	background-image: url("../img/basket.svg");
    background-repeat: no-repeat;
	background-position: 16px 6px;
	text-align: center;
	padding-left: 35px;
	
}

.two-article {
	width: 113px;
}

.button-image-basket a {
text-decoration: none;	
}

.button-image-basket:hover{
	background-color: #f8f7f4;
	background-image: url("../img/basket2.svg");
	background-repeat: no-repeat;
}

.button-image-basket a:hover {
	color: #323232;
	text-decoration: none;
}
.breadcrumbs-column {
	display: flex;
	justify-content: space-between;
	padding: 0 27px;
	
}

.breadcrumbs {
	display: flex;
	padding: 0;
	
	list-style: none;

}

.breadcrumbs li {
	padding-right: 5px;
}

.breadcrumbs a {
	color: #ffffff;
	padding-right: 5px
}

.container {
	position: relative;
}

.time {
	position: absolute;
	right: 27px;
	width: 175px;
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	color: #ffffff;
	
	
}

.phone {
	position: absolute;
	top: 20px;
	right: 27px;
	font-size: 22px;
	line-height: 24px;
	color: #ffffff;
}

.inner-page .phone {
	position: absolute;
	top: 20px;
	right: 27px;
	font-size: 22px;
	line-height: 24px;
	color: #ffffff;
}

.time,
.telnomer{
	font-weight: bold;
}



.slider {
	position: relative;
	padding-top: 321px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	
	text-align: center;
	color: #ffffff;
	
}


.slider-list {
margin: 0;
padding: 0;
list-style: none;
}

.slide {
	display: none;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 27px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 800;
}

.slider p {
	width: 685px;
}

.slider button {
	width: 282px;
	display: inline-block;
	padding: 12px 44px;
	font-weight: 600;
	font-size: 31px;
	line-height: 41px;
	text-align: center;
	color: #ffffff;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 50px;
	box-shadow: 0 3px 3px rgba(172, 16, 0, 0.64);
	border: none;
	cursor: pointer;
}

.slider button:hover {
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider button:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
	position: absolute;
	bottom: 63px;
	left: 0;
	z-index: 20;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slide1.png");
}

#product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slide2.png");
}

#product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slide3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
	background-color: #ffffff;
}

.filters-column {
	width: 863px;
	padding: 0 27px;
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 18px;
	
}

.filters-column form {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
	align-items: center;

}

.filters-sort {
	width: 195px;
	margin: 0;
	font-size: 16px;
	line-height: 18px;
	}

.filters-sort p {
	margin: 0;
	padding: 0;
	padding-left: 16px;
}
.sort {
	margin-top: 5px;
	padding: 10px 14px;
	color: #ffffff;
	background-color: #aabab0;
	border-radius: 20px;
}

.filters-price {
	width: 220px;
	margin: 0;
	padding: 0;
}

.price-controls {
	display: flex ;
	margin: 0;
	padding: 0;
	
}

.filters-price p {
	margin: 0;
	padding: 0;
	padding-left: 15px;
}

.filters-price label {
	margin: 0;
	padding: 0;

	cursor: pointer;
}

.range-controls {
	position: relative;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	border-radius: 20px;
	background-color: #aabab0;
	
}



.range-controls .scale {
	width: 178px;
	height: 4px;
	background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
	position: absolute;
    width: 45%;
    height: 4px;
    left: 15%;
    background: #ffffff;
}

.range-toggle {
	position: absolute;
	width: 4px;
	height: 4px;
	top: 8px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
}

.range-toggle-min {
	left: 15%;
}

.range-toggle-max {
	left: 60%;
}


.filters-fatness {
	width: 416px;
}

.filters-fatness p {
	padding: 0;
	padding-left: 16px;
	margin: 0;
	
}

.fatness-list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #aabab0;
	border-radius: 20px;
}


.fatness-list label {
	padding-left: 11px;
}

.filters-fillers {
	width: 703px;
}

.filters-fillers p {
	margin: 0;
	margin-top: 15px;
	padding: 0;
	padding-left: 16px;
}

.fillers-list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #aabab0;
	border-radius: 20px;
}

.fillers-list label {
	padding-left: 8px;
}

.button-filters {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 144px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: #aabab0;
	border: 2px solid #ffffff;
	border-radius: 15px;
}

.filters-sort,
.filters-price,
.filters-fatness {
	font-size: 14px;
	line-height: 16px;
}

.filters-fillers {
	font-size: 14px;
	line-height: auto;
}

.filters-sort,
.fatness-list,
.fillers-list button {
	font-size: 16px;
	line-height: 18px;
}

.fatness-list,
.fillers-list {
	list-style: none;
}
	
	.promo {
	font-weight: bold;
	color: #ffffff;
}
.promo p {
	font-size: 60px;
	line-height: 60.35px;
}

.offer {
	display: flex;
	justify-content: space-between;
	width: 1146px;
	padding: 0 27px;
	margin-bottom: 40px;
	
}

.raspberry {
	background-color: #f086a2;
	background-image: url("../img/berry-fon.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-left: 22px;
	width: 560px;
	height: 230px;
}

.chocolate {
	background-color: #9e796f;
	background-image: url("../img/choc-fon.jpg");
	background-repeat: no-repeat;
	padding-left: 25px;
	width: 560px;
	height: 230px;
}

.raspberry ,
.chocolate {
	position: relative;
	width: 520px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;

}

.raspberry h3,
.chocolate h3 {
	margin: 20px 0px;
	padding: 0;
	font-size: 35px;
	line-height: 41px;
}
.raspberry p,
.chocolate p {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	position: relative;
	font-size: 18px;
	line-height: 22px;
}

.raspberry .button,
.chocolate .button {
	display: inline-block;
	position: absolute;
	right:20px;
	margin-bottom: 25px;
	padding: 10px 20px;
	
	font-size: 18px;
	line-height: 24px;
}

.hit_ice {
	display: flex;
	justify-content: space-between;
	min-height: 350px;
	list-style: none;
	padding: 0 27px;
	margin-bottom: 40px;
}

.hit-item{
	position: relative;
	padding: 0;
	margin: 0;
	width: 267px;
}

.ice-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 27px;
	margin-bottom: 80px;
}

.ice-item {
	position: relative;
	margin: 0;
	width: 267px;
	min-height: 325px;
	padding: 0;
	margin-bottom: 40px;
	
}

.ice-item a {
	display: inline-block;
	text-align: center;
	color: #ffffff;
}

.ice-item-image img {
	padding: 0;
	border-radius: 50%;
}

.ice-item-price {
	position: absolute;
	top: 190px;
	padding: 0;
	font-size: 35px;
	line-height: 45px;
	
}

.inner-page .ice-item-price {
	position: absolute;
	top: 190px;
	padding: 0;
	font-size: 35px;
	line-height: 45px;
}

.ice-item-price span {
	font-size: 30px;
	
}


.hit-item p {
	margin: 0;
}

.hit-item a {
	display: inline-block;
	margin: 0;
	padding: 0;
	
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	color: #ffffff;
	text-align: center;
	
}

.features {
	width: 1146px;
	margin-left: 27px;
	margin-right: 27px;
	margin-bottom: 40px;
	background-color: #f1e7d2;
	background-image: url("../img/waffle-fon2.jpg");
	background-repeat: repeat;
	border-radius: 15px;
	
		
}

.features-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 20px;
	padding-right: 20px;
	list-style: none;
}
	
.features h2 {
	width: 1106px;
	margin: 0;
	padding-left: 20px;
	padding-top: 30px;
	font-size: 24px;
	line-height: 30px;
	
	}
.features-list li {
	margin:0;
	margin-bottom: 10px;
	padding: 0;
	padding-top: 15px;
	padding-left: 57px;
	padding-bottom: 10px;
	width: 540px;
	font-size: 16px;
	line-height: 22px;
	box-sizing: border-box;
}

.features-list li:first-child {

	background-image: url("../img/ice.svg");
	background-repeat: no-repeat;
}

.features-list li:nth-child(2) {
	background-image: url("../img/cow.svg");
	background-repeat: no-repeat;
}

.features-list li:nth-child(3) {
	background-image: url("../img/leaf.svg");
	background-repeat: no-repeat;
}

.features-list li:nth-child(4) {
	background-image: url("../img/thermometer.svg");
	background-repeat: no-repeat;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	width: 1146px;
	padding: 0 27px;
	margin-bottom: 40px;
}

.news{
	width: 560px;
	height: 223px;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	background-color: #ffffff;
	background-image: url("../img/new-fon.jpg");
	background-repeat: no-repeat;
	background-size: 560px 223px;
	border-radius: 12px;
}

.news h2 {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.news p {
	margin: 0;
	padding: 10px 0;
}

.news a {
	display: inline-block;
	width: 285px;
	margin: 0;
	padding: 0;
	color: #323232;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	
}

.mailing button,
.contacts button {
	font-size: 18px;
	line-height: 24px;
}

.mailing {
	width: 560px;
	height: 223px;
	background-color: #f8f7f4;
	border: 10px solid rgba (0, 0, 0, 0.4);
	border-image-slice: 50;
	border-image-source: url("../img/mail-fon.jpg");
	border-radius: 12px;
	
}

.contacts-columns {
	display: flex;
	width: 1200px;
	min-height: 430px;

	
}

.map{
	position: relative;
}

.contacts {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 63px;
	right: 27px;
	width: 262px;
	padding: 30px 20px;
	text-align: left;
	background-color: #ffffff;
	border-radius:15px;
}
.contacts p {
	margin: 0;
	margin-left: 5px;
	font-size: 14px;
	line-height: 20px;
	
}

.contacts p:first-child {
	width: 152px;
}
.address,
.tel {
	display: block;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
}

.address {
	margin-left: 5px;
	margin-bottom: 22px;
}

.tel {
	line-height: 22px;
}

.ice-list,
.pagination-list,
.social-list,
.documents-list {
	list-style: none;
}

.pagination-list {
	display: flex;
	justify-content: flex-end;
	width: auto;
	text-align: right;
	margin: 0 27px;
	padding: 5px;
	
	
}

.pagination-list li {
	
}

.pagination-list a {
	
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 50%;
	
}

.pagination-imem-current a {
	margin: 0;
	padding: 0;
	color: #323232;
	background-color: #ffffff;
	padding: 5px 10px;
	border-radius: 50%;
}


.main-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1146px;
	min-height: 103px;
	margin: 0 27px;
	margin-top: 20px;
	
}

.inner-page .main-footer {
	margin-top: 30px;
}

.social-list {
	display: flex;
	width: 267px;
	margin: 0;
	
}

.button-social {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border-radius: 50%;
	
}


.documents-list {
	display: flex;
	flex-wrap:  wrap;
	width: 310px;
	margin: 0;
	padding-left: 125px;
	padding-right: 125px;
	font-size: 13px;
	line-height: 18px;
	background-image: url("../img/heart.svg");
	background-repeat: no-repeat;
	background-position: 105px 2px;
	
	
}

.documents-list li:first-of-type{
	font-weight: bold;
}
.documents-list li {
	width: 150px;
}
.documents-list a {
	color: #ffffff;
}

.footer-copyrigth {
	display: flex;
	flex-direction: column;
	width: 189px;
	padding-left: 93px;
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	
	color: #ffffff;
	
}

.footer-copyrigth p {
	margin: 0;
	padding: 0;
}

.footer-copyrigth a {
	color: #ffffff;
}

.modal-answer {
	/*display: none;*/
	position: absolute;
	top: 300px;
	left: 400px;
	width: 470px;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 0;
	background-color: #ffffff;
	border-radius: 7px;
}
.answer-user-name,
.answer-user-email {
    width: 265px;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid #d3d3d2;
	border-radius: 7px;
}

.answer-comment-field {
	width: 430px;
	margin: 0;
	margin-bottom: 95px;
	padding: 10px 15px;
	
}
.answer-form button {
	position: absolute;
	right: 25px;
	bottom: 25px;
	border: none;
	
}

.button-close {
	position: absolute;
	right: 15px;
	top: 15px;
	background-color: #ffffff;
	border: none;
}

